.banner {
    margin-bottom: 80px;
}
.banner-slider {
    position: relative;
}
.banner-slider__controls {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 45px;
    height: 45px;
    z-index: 10;
    background: #fff;
    cursor: pointer;

    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border: 10px solid transparent;
      border-left-color: #777;
      border-right: 0;
    }
}
.banner-slider__prev {
    left: 20px;

    &::before {
      border-right: 10px solid  #777;
      border-left: 0;
    }

}
.banner-slider__next {
    right: 20px;
    }
