header
    .container
        .header-top__content
            .logo.header__logo
                a(href="#top"): img(src="static/img/general/logo.png" alt="logo")
            nav.main-nav
                .nav-mobile
                    span.nav-mobile__line.nav-mobile__line--top
                    span.nav-mobile__line.nav-mobile__line--middle
                    span.nav-mobile__line.nav-mobile__line--bottom
            ul.main-nav__list
                li
                    a(href="#top").scroll-link.active Home
                li
                    a(href="#pages").scroll-link Pages
                li
                    a(href="#journal").scroll-link Journal
                li
                    a(href="#portfolio").scroll-link Portfolio
                li
                    a(href="#features").scroll-link Features
                li
                    a(href="#footer").scroll-link Contact

        h1.page-title Hello! We are Loom Studio
        p.page-title__text a creative media agency that believes in the power of creative ideas and great design.
