section.banner
    .container
        .banner-slider
            .banner-slider__controls.banner-slider__prev
            .banner-slider__controls.banner-slider__next
            .js-banner-slider
                .banner-slider__item
                    img(src="static/img/content/slides/slide-1.jpg", alt="slide")
                .banner-slider__item
                    img(src="static/img/content/slides/slide-2.jpg", alt="slide")
                .banner-slider__item
                    img(src="static/img/content/slides/slide-3.jpg", alt="slide")
                .banner-slider__item
                    img(src="static/img/content/slides/slide-4.jpg", alt="slide")
                
