section.journal
    .container 
        .g-section-title__wrap
            h3.g-section-title from the journal
        .journal-content
                .journal-item
                    a(href="#top"): img(src="static/img/content/journal/journal-1.jpg" alt="Ultricies Cras Ullamcorper Elit")
                    .item-wrap
                        h4.journal-item__title Ultricies Cras Ullamcorper Elit
                        span.journal-item__keywords Music, PSD, Mockups
                    p.journal-item__text Nulla libero un pharetra augue etiam libero malesuada magna<br> mollis. Nullam id dolor id nibh ultricies
                .journal-item
                    a(href="#top"): img(src="static/img/content/journal/journal-2.jpg" alt="Sem Elit Amet Vestibulum")
                    .item-wrap
                        h4.journal-item__title Sem Elit Amet Vestibulum
                        span.journal-item__keywords Graphic, Article  | 13 Comments
                    p.journal-item__text Donec ullamcorper nulla non metus auctor fringilla. Duis<br> mollis, est non commodo luctus, nisi erat porttitor ligula
                .journal-item
                    a(href="#top"): img(src="static/img/content/journal/journal-3.jpg" alt="Vestibulum Magna Venenatis Tellus")
                    .item-wrap
                        h4.journal-item__title Vestibulum Magna Venenatis Tellus
                        span.journal-item__keywords Journal, Article, Poster  |  11 Comments 
                    p.journal-item__text Fusce dapibus, tellus ac cursus commodo, tortor mauris<br> condimentum nibh, ut fermentum massa justo risus.






//- mixin top(sectionName,sectionText)
    
//-     section(class=sectionName)
//-         .container
//-             .g-section-title__wrap
//-                 h3.g-section-title.g-section-title__white #{sectionText}

//- +top('proceed','Our last stand man')
