section.opinions
    .container 
        .g-section-title__wrap
            h3.g-section-title.g-section-title__white What Our Customers Think
        .opinions-slider
            .js-opinions-slider
                .opinions-slider__item
                    p.opinions-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at eget metus. 
                    p.opinions-author Barclay Widerski
                .opinions-slider__item
                    p.opinions-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at eget metus. 
                    p.opinions-author Barclay Widerski
                .opinions-slider__item
                    p.opinions-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at eget metus. 
                    p.opinions-author Barclay Widerski
                .opinions-slider__item
                    p.opinions-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at eget metus. 
                    p.opinions-author Barclay Widerski