section.process
    .container
        .g-section-title__wrap
            h3.g-section-title.g-section-title__white our process
        .process_wrap
            p.process-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus <br> posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna posuere velit aliquet.
            .process-icon__wrap
                .process-item.active.process-item--creative
                    .icon-wrap
                    h5.icon-descr 1. creatıve ideas
                .process-item.process-item--rapid
                    .icon-wrap
                    h5.icon-descr 2. rapid solution
                .process-item.process-item--magic
                    .icon-wrap
                    h5.icon-descr 3.magic touch
                .process-item.process-item--award
                    .icon-wrap
                    h5.icon-descr 4. award winnıng
      
