section.projects
    .container
        .projects-title__wrap
            h3.g-section-title our recent projects
            .project-content
                .project-item
                    a(href="#top"): img(src="static/img/content/projects/project-1.jpg" alt="disc cover")
                    h4.project-item__title Dısk cover Mockup
                    span.project-item__keywords Music, PSD, Mockups
                    p.project-item__text Nulla libero un pharetra augue etiam libero malesuada<br> magna mollis. Nullam id dolor id nibh ultricies.
                .project-item
                    a(href="#top"): img(src="static/img/content/projects/project-2.jpg" alt="business Card")
                    h4.project-item__title john doe business Card
                    span.project-item__keywords Corporate, Card
                    p.project-item__text Donec sed odio dui. Etiam porta sem malesuada<br> magna mollis euismod erat a ante.
                .project-item
                    a(href="#top"): img(src="static/img/content/projects/project-3.jpg" alt="infographic")
                    h4.project-item__title Infographic Elements
                    span.project-item__keywords Element, Graphic
                    p.project-item__text Euismod quis risus eget urna mollis ornare vel eu<br> leo. Fusce dapibus, tellus ac cursus commodo.
