section.what
    .container
        h3.g-section-title What We Do
        .what_wrap
            .what-item
                .img-wrap
                    img(src="static/img/content/whatwedo/what-1.png", alt="")
                h4.what-title Print Design
                p.what-text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
            .what-item
                .img-wrap
                    img(src="static/img/content/whatwedo/what-2.png", alt="")
                h4.what-title Motion video
                p.what-text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
            .what-item
                .img-wrap
                    img(src="static/img/content/whatwedo/what-3.png", alt="")
                h4.what-title Package Design
                p.what-text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
            .what-item
                .img-wrap
                    img(src="static/img/content/whatwedo/what-4.png", alt="")
                h4.what-title Time management
                p.what-text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.

            